<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.member.service.impl.MemberMapper">

<select id="selectMemberList" 
		parameterType="kr.or.nextit.member.service.MemberVo"
		resultType="kr.or.nextit.member.service.MemberVo">
	SELECT
	    mem_id		as userId,
	    mem_pwd		as userPw,
	    mem_name	as userName,
	    mem_phone	as userHp,
	    mem_email	as userEmail,
	    reg_date
	FROM
	    tb_member
</select>


<select id="selectMemberItem"
		resultType="kr.or.nextit.member.service.MemberVo"
		parameterType="String">
	SELECT
	    mem_id		as userId,
	    mem_pwd		as userPw,
	    mem_name	as userName,
	    mem_phone	as userHp,
	    mem_email	as userEmail,
	    reg_date
	FROM
	    tb_member
    WHERE mem_id = #{userId}
</select>











</mapper>